.padding {
    padding: 10rem !important;
}

.scrollable {
    height: 300px;
    overflow: scroll;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

