
{% extends "base.html" %}


{% block content %}


<div class="container">
    <h4>{{ one_category.name }}</h4>

    <div class="row my-4">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="scrollable">
                    <table class="table bg-white">
                        <thead class="bg-info">
                            <tr class="text-white">
                                <th scope="col">Username </th>
                                <th scope="col">Amount </th>
                                <th scope="col">Date</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                       
                            {% for transactions in cat_queryset %}
                            {% if transactions.trans_category == one_category.id %}
                            <tr>
                                <td><a href="{{url_for('main.user_profile',id=transactions.user.id)}}">{{ transactions.user.username }}</a></td> 
                                <td>{{ transactions.amount }} </td>
                                <td>{{ transactions.transacted }} </td>
                            </tr>
                           
                            {% endif %}
                            {% endfor %}

                         
                        
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    


</div>

{% endblock %}