
{% extends "base.html" %}


{% block content %}

<div class="container">
    <h2>Result Dates</h2>
    <p>Start Date: {{ firstdate}}</p>
    <p>End Date: {{ enddate }}</p>

   <br>
   

    <div class="row my-4">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="scrollable">
                    <table class="table bg-white">
                        <thead class="bg-info">
                            <tr class="text-white">
                                <th scope="col">Category </th>
                                <th scope="col">Amount </th>
                                <th scope="col">Username </th>
                                <th scope="col">Date of Transaction </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                           
                                    
                            {% for transaction in transactions %}
                            <tr>
                                <td><a href="{{url_for('main.category',id=transaction.cat.id)}}">{{ transaction.cat.name }}</a></td> 
                                <td>{{ transaction.amount }} </td>
                                <td><a href="{{url_for('main.user_profile',id=transaction.user.id)}}">{{ transaction.user.username }}</a></td> 
                                <td>{{ transaction.transacted }} </td>
                            </tr>
                           
                            
                            {% endfor %}
                                    
                            
                                    
    
                            
                        
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

{% endblock %}
