{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}
    Main Page

{% endblock title %}

{% block content %}
<head>
  
</head>
<body>

{% include "topside.html" %}
 
<div class="container">
        <div class="row my-4">
            <div class="col-md-3">

                <h3>Select a date range for transactions</h3>

                <form action="" method="POST" name="myform">
                    {{ form.csrf_token }}
                    {{ form.startdate.label }} {{ form.startdate(class='datepicker') }} {{ form.hidden_tag() }}
                    {{ form.enddate.label }} {{ form.enddate(class='datepicker') }} {{ form.hidden_tag() }}
                <p>
                    {{ form.submit() }}
                <p>
                </form>



               
               
            </div>
            <div class="col-md-3">

                <h3>Select a date range for categories</h3>

                <form action="" method="POST" name="categoryform">
                    {{ cat_form.csrf_token }}
                    {{ cat_form.startingdate.label }} {{ cat_form.startingdate(class='datepicker') }} {{ cat_form.hidden_tag() }}
                    {{ cat_form.endingdate.label }} {{ cat_form.endingdate(class='datepicker') }} {{ cat_form.hidden_tag() }}
                    {{ cat_form.trans_category }}
                <p>
                    {{ cat_form.submit() }}
                <p>
                </form>



               
               
            </div>
            <div class="col-md-6">
                <div class="scrollable">
                    <table class="table bg-white">
                        <thead class="bg-info">
                            <tr class="text-white">
                                <th scope="col">USER ID </th>
                                <th scope="col">Username </th>
                                <th scope="col">Contact </th>
                               
                                
                            </tr>
                        </thead>
                        <tbody>
                       
                            {% for user in all_users %}
                           
                            <tr>
                                <td>{{ user.id }} </td>
                                <td><a href="{{url_for('main.user_profile',id=user.id)}}">{{ user.username }}</a></td>
                                <td>{{ user.phone_number }} </td>
                            </tr>
                            {% endfor %}
                        
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>

         <div class="row my-4">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="scrollable">
                    <table class="table bg-white">
                        <thead class="bg-info">
                            <tr class="text-white">
                                <th scope="col">Transaction ID </th>
                                <th scope="col">Username </th>
                                <th scope="col">Date Transacted </th>
                                <th scope="col">Amount in Ksh</th>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                       
                            {% for account in all_transactions %}
                           
                            <tr>
                                <td>{{ account.id }} </td>
                                <td>
                                    
                                    <a href="{{url_for('main.user_profile',id=account.user.id)}}">{{ account.user.username  }}</a>
                               
                                </td>
                                <td>{{ account.transacted }} </td>
                                <td>{{ account.amount }} </td>
                                <td>
                                  <a href="{{url_for('main.category',id=account.cat.id)}}">{{ account.cat.name }}</a>
                        
                                </td>

                           
                            </tr>
                            {% endfor %}
                        
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>

           
    </div>



</body>
{% endblock content %}