
{% extends "base.html" %}


{% block content %}

<div class="container">
   <h4>{{ one_user.username }}</h4>

   <br>
   

    <div class="row my-4">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="scrollable">
                    <table class="table bg-white">
                        <thead class="bg-info">
                            <tr class="text-white">
                                <th scope="col">Category </th>
                                <th scope="col">Amount </th>
                                <th scope="col">Date </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                           
                                    
                            {% for transactions in user_queryset  %}
                            {% if transactions.user_id == one_user.id %}
                            <tr>
                                <td><a href="{{url_for('main.category',id=transactions.cat.id)}}">{{ transactions.cat.name }}</a></td> 
                                <td>{{ transactions.amount }} </td>
                                <td>{{ transactions.transacted }} </td>
                            </tr>
                           
                            {% endif %}
                            {% endfor %}
                                    
                            
                                    
    
                            
                        
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

{% endblock %}